{
    "rules": {
        "lines-around-comment": "off",
        "no-inline-comments": "off",
        "func-names": "off",
        "object-property-newline": "off",
        "no-underscore-dangle": "off",
        "no-invalid-this": "off",
        "vars-on-top": "off",
        "no-negated-condition": "off",
        "newline-before-return": "off",
        "callback-return": "off",
        "sort-vars": "off",
        "newline-after-var": "off",
        "no-extra-parens": "off",
        "no-ternary": "off",
        "init-declarations": [
            "error",
            "always"
        ],
        "valid-jsdoc": [
            "error",
            {
                "requireReturn": false
            }
        ],
        "id-length": [
            "error",
            {
                "exceptions": [
                    "x",
                    "y",
                    "i",
                    "j"
                ]
            }
        ],
        "dot-location": [
            "error",
            "property"
        ],
        "multiline-ternary": "off",
        "padded-blocks": [
            "error",
            "never"
        ],
        "consistent-return": "error",
        //
        "indent": [
            "error",
            4
        ],
        "no-else-return": "error",
        "semi": [
            "error",
            "always"
        ],
        "space-unary-ops": "error",
        "max-statements": [
            "error",
            25
        ],
        "max-depth": [
            "error",
            5
        ],
        "complexity": [
            "error",
            7
        ],
        "max-len": [
            "warn",
            {
                "code": 120,
                "ignoreComments": true
            }
        ],
        "max-params": "off",
        "max-nested-callbacks": [
            "error",
            1
        ],
        "no-trailing-spaces": "error",
        "quotes": [
            "error",
            "double",
            {
                "avoidEscape": true
            }
        ],
        "camelcase": "error",
        "no-magic-numbers": [
            "error",
            {
                "ignore": [
                    -1,
                    0,
                    1
                ]
            }
        ],
        "spaced-comment": [
            "error",
            "always",
            {
                "exceptions": [
                    "-",
                    "+"
                ]
            }
        ],
        "quote-props": [
            "error",
            "as-needed"
        ],
        "object-curly-newline": [
            "error",
            {
                "multiline": true,
                "minProperties": 3
            }
        ],
        "max-lines": [
            "error",
            {
                "max": 400,
                "skipBlankLines": true,
                "skipComments": true
            }
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "prefer-rest-params": "off",
        "no-dupe-class-members": "off",
        "no-var": "off",
        "object-shorthand": "off",
        "prefer-arrow-callback": "off",
        "prefer-spread": "off",
        "prefer-template": "off",
        "consistent-this": [
            "error",
            "that"
        ],
        "no-extra-bind": "error",
        "array-bracket-spacing":  ["error", "always"]
    },
    "env": {
        "browser": true,
        "amd": true
    },
    "globals": {
        "logger": true,
        "mendix": true,
        "mxui": true,
        "mx": true
    },
    "no-unused-vars": "error"
}
